<div class="contener">
    <div class="wrap">
        <h1>Bill Gates</h1>
        <h3>Цитати:</h3>
        <ul type="none">
            <li>«Patience is a key element 
            of success»</li>
            <li>«If you think your teacher is tough, wait till you get boss»</li>
            <li>«Life is not fair — get used to it!»</li>
            <li>«Success is a lousy teacher. Це seduces smart people in thinking they can't lose»</li>
            <li>«Be nice to nerds..»
            </li>
        </ul>
        <h3>Біографія</h3>
        <p><b>Ві́льям Ге́нрі Гейтс III </b>(англ. William Henry 'Bill' Gates III; нар. 28 жовтня 1955, Сіетл, США) — американський бізнесмен, інвестор, письменник, філантроп, засновник корпорації Майкрософт, співголова Фонду Білла і Мелінди Гейтсів. Протягом кар'єри в Microsoft, Гейтс займав позиції голови ради директорів, CEO та головного архітектора, одночасно до травня 2014 також будучи найбільшим акціонером.</p>
        <p>Microsoft був створений Гейтсом і Полом Алленом в 1975 і став найбільшою компанією з розробки програмного забезпечення для ПК. Гейтс керував компанією як головний виконавчий директор, поки не залишив цю посаду в січні 2000 року, зостаючись головою ради директорів і створивши для себе посаду головного архітектора.</p>
        <p>У червні 2006 Гейтс оголосив, що він переходитиме з повної на часткову зайнятість у Microsoft і працюватиме повний робочий день у Фонді Білла і Мелінди Гейтсів, заснованому у 2000. Поступово він передав свої обов'язки Рею Оззі та Крейгу Манді. Він покинув посаду голови Microsoft у лютому 2014 і прийняв позицію технологічного радника, аби підтримати новообраного виконавчого директора Сатья Наделла.</p>
        <ul type="none">
            <li><a href="https://en.wikipedia.org/wiki/Bill_Gates">https://en.wikipedia.org/wiki/Bill_Gates</a></li>
            <li><a href="https://www.gatesfoundation.org/"></a>https://www.gatesfoundation.org</li>
            <li><a href="https://www.gatesnotes.com/"></a>https://www.gatesnotes.com/</li>
            <li><a href="https://twitter.com/billgates"></a>https://twitter.com/billgates</li>
        </ul>
        
    </div>
    <img src="../../assets/lab1/Bill_Gates_2018.jpg">
</div>