img{
    margin: 30px 20px;
    width: 200px;
    float: left;
}
.info {
    display: flex;
}
#left {
    float: left;
    margin: 50px 10px;
    text-align: right;
}
#right {
    float: right;
    margin: 50px 10px;
    text-align: left;
}
