<div class="wrap">
    <img src="../../assets/lab1/icon.png" alt="icon.people">
    <div class="info">
        <ul id="left" type="none">
            <li>ПІБ:</li>
            <li>телефон:</li>
            <li>email:</li>
            <li>місто проживання:</li>
            <li>досвід роботи:</li>
            <li>навички:</li>
            <li>посилання на мене:</li>
        </ul>
        <ul id="right" type="none">
            <li>{{name}}</li>
            <li>{{phone| currency: 'UAH':'symbol-narrow':'1.1-1'}}</li>
            <li>{{email}}</li>
            <li>{{sity}}</li>
            <li>{{experience_work[0]}} {{experience_year[2]}}, {{experience_work[3]}} {{experience_year[1]}}</li>
            <li>{{skills[3]}}, {{skills[0]}}</li>
            <li><a href="https://www.instagram.com/loshatetskiy_a/">instagram</a></li>
        </ul>
    </div>
</div>